/*-----------------------------------*/
/* Shortcodes Styles
/*-----------------------------------*/

/* Columns */
.one_half, .one_third, .two_third, .three_fourth, .one_fourth { margin-right: 4%; float: left; line-height: 21px; margin-bottom: 20px; }
.one_half { width: 46%; }
.one_third { width: 30.6666%; }
.two_third { width: 65.3332%; }
.one_fourth { width: 22%; }
.three_fourth { width: 74%; }
.last { margin-right: 0 !important; clear: right; }
.clearboth{ clear: both; display: block; font-size: 0px; height: 0px; line-height: 0; width: 100%; overflow:hidden; }

/* Dropcap */
.dropcap { font-size:32px; margin-right:6px; padding-top:4px; text-transform: uppercase; float: left; position: relative; top: 5px; color:#888; }

/** Highlight **/
.highlight1 { background:#f6f67a; }
.highlight2 { background:#000; color:#CCC; }

/* Video */
.video-shortcode { margin-bottom:20px; }

/* Message Boxes */

/* start notification boxes */
.box-information, .box-confirmation, .box-warning, .box-error {	float: left; padding: 16px 20px 16px 70px; margin-top: 18px; min-height: 36px; height: auto !important; height: 36px; line-height: 19px; clear: both; }
.box-information p, .box-confirmation p, .box-warning p, .box-error p {	padding: 6px 0 6px 0; }
.box-information a, .box-confirmation a, .box-warning a, .box-error a {	text-decoration: underline; }


/* Checklist */
.checklist li { background:url(images/check-list.png) no-repeat left !important; padding-left:28px !important; list-style: none; }

/* Badlist */
.badlist li { background:url(images/bad-list.png) no-repeat left !important; padding-left:28px !important; list-style: none; }