body.blog {
	
	#post-pagination {

		padding-top: 35px;

		.pagination {
			
			.fa {
				vertical-align: middle;
			}
			
			li {
				font-size: rem-calc(22px);
			}
			
			a {
				color: #000;
			}
			
			.current {
				
				padding: 0;
				
				a {
					background: #000;
					color: $primary-yellow;
				}
				
			}
			
			.unavailable {
				display: none;
			}

		}

	}	
	
}