#company-intro {
	
	background: url(../img/benefits-bg.jpg) no-repeat center;
	background-size: cover;	
	margin-top: 60px;

	@include breakpoint(medium down) {
		
		padding: 30px 0;
		text-align: center;

		img {
			margin-bottom: 30px;
		}

	}

}