#gform_1 {
	ul.gform_fields {
		margin: 0;
	}
	.gfield {
		margin-bottom: 15px;
		@include breakpoint(large up) {
			display: inline-block;
			width: 50%;
		}
	}
	.medium {
		width: 98%;
	}
	#field_1_7 {
		width: 100%;
	}
	.gfield_radio {
		li {
			display: inline-block;
		}
	}
	.gform_footer {
		text-align: center;
	}
	.gfield_label {
		display: none;
	}
	.validation_error {
		display: block;
		margin-bottom: 30px;
		text-align: center;
	}
	select {
		margin: 0;
	}
	ul.gfield_checkbox input, ul.gfield_radio input {
		margin-right: 0;
	}
	.gform_body {
		padding-bottom: 0;
	}
}

#location-map {
	padding: 60px 0;
}