#equipment-tabs-container {

	background: #e6e4e4;
	border-top: solid 28px #fff;
	position: relative;

	&:before {
		background: #fff;
		content: '';
		display: block;
		height: 17px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	ul#equipment-tabs {
		
		border-bottom: none;
		border-right: 14px solid #fff;
		border-left: none;
		border-top: none;
		display: table;
		margin: 0 auto;
		position: relative;
		z-index: 1;

		@include breakpoint(medium down) {
			border: none;
			width: 100%;
		}

		li {
		
			border-left: 14px solid #fff;
			text-align: center;
		
			@include breakpoint(medium down) {
				border: none;
				margin-bottom: 25px;
				width: 25%;
			}

			a {
				background-image: url(../img/equipment-tab-corner.png);
				background-repeat: no-repeat;
				background-position: top right;
				color: #343a43;
				font-family: $font-prox-reg-bl;
				height: 154px;
				width: 210px;
				@include breakpoint(medium down) {
					height: auto;
					padding: 1.25rem 0;
					width: auto;
					span {
						font-size: rem-calc(12px);
					}
				}
			}
		
			img {
				display: block;
				height: 75px;
				margin: 0 auto;
				width: 75px;
			}

			span {
				display: block;
				font-size: rem-calc(16px);
				margin-top: 10px;
				text-transform: uppercase;
			}

			&.is-active, &:hover {
				a {
					color: $primary-yellow;
					position: relative;
					&:after {
						background: url(../img/equipment-tab-active-bg.jpg) no-repeat center $primary-yellow;
						content: '^';
						bottom: -25px;
						display: block;
						height: 25px;
						left: 0;
						position: absolute;
						width: 100%;
					}
				}
			}
		
		}

	}

}

#equipment {
	.block-page-intro {
		padding: 60px 30px 40px 30px;
	}
}

#equipment-tabs-content-container {

	background: #fff;
	border: none;
	padding: 0 55px 60px 55px;

		@include breakpoint(medium down) {
			padding-bottom: 30px;
		}	

	.equipment-panel {
		
		padding-top: 60px;

		@include breakpoint(medium down) {
			padding-top: 30px;
			.large-4 {
				margin: 15px 0;
			}
		}

	}

	.additional-equipment {
		text-align: center;
		a {
			color: #000;
			display: block;
			font-family: $font-prox-reg-bl;
			margin: 15px 0;
			&:hover {
				color: $primary-yellow;
			}
		}
	}

}