body.single-equipment_features {

	#equipment-features {
		
		background: #e5e9eb;
		padding: 60px 0;

		.columns {
			
			text-align: center;
			
			h5 {
				color: #5e6367;
				margin: 0;
				padding: 10px 0;
			}

		}

	}

	#equipment-specs {	
		
		padding: 60px;
		
		.block-title {
			text-align: center;
			padding: 0;
		}

	}

	#product-feature-video {
		padding: 30px 0;
	}

	#product-feature-purchase-options {
		padding: 30px 0 60px 0;
		text-align: center;
	}

}