.guides-block {
	
	padding: 30px 0;
	text-align: center;
	
	&:nth-child(even) {
		background: #e5e9eb;
	}

	.block-title {
		text-align: center;
		p {
			margin: 0 auto;
			max-width: 650px;
		}
	}

	.guide {
		img {
			margin-bottom: 10px;
		}
		h5 {
			color: #5e6367;
		}
	}

	@include breakpoint(medium down) {
		
		text-align: center;
		
		.guide {
			margin-bottom: 15px;
		}

	}

}