html, body {
	height: 100%;
	min-height: 100%;
	position: relative;
}

section {
	position: relative;
	z-index: 1;
}

.off-canvas-wrapper-inner {
	background: transparent;
}

.off-canvas-content {
	background: transparent;
	position: relative;
	z-index: 1000;
}

.home-block-title {

	.home-block-primary-title {
		color: $secondary-yellow;
		font-size: rem-calc(18px);
		line-height: 1;
		margin-bottom: 10px;
		text-transform: uppercase;	
	}

	.home-block-secondary-title {
		color: #5e6367;
		font-size: rem-calc(32px);
		line-height: 1.2;
		margin: 0;	
	}	
	
}

#benefits {

	background: url(../img/benefits-bg.jpg) no-repeat center;
	background-size: cover;
	
	@include breakpoint(medium down) {
		
		padding: 30px 0;
		text-align: center;

		img {
			margin-bottom: 30px;
		}

	}

	.row {
		position: relative;
	}

	.home-block-content {

		@include breakpoint(large up) {
			padding: 0 125px;
			@include vertical-center;
		}
		
		.home-block-title {
			margin-bottom: 15px;
		}
		
		.button {
			margin-top: 15px;
		}
		
	}

}


#how-it-works {

	padding: 80px 0;
	text-align: center;

	@include breakpoint(medium down) {
		padding: 30px 0;
	}
	
	.home-block-title {
		margin-bottom: 15px;
	}

	img {
		display: block;
		margin: 50px auto;
	}

}

#overview {
	
	background: url(../img/overview-bg.gif) no-repeat right center #545b5c;

	@include breakpoint(medium down) {
		background-image: none;
		padding: 30px 0;
		text-align: center;
	}
	
	.row {
		position: relative;
	}
	
	.home-block-content {
		
		background: url(../img/overview-content-block-bg.png) no-repeat center;
		
		@include breakpoint(large up) {
			padding: 150px 90px;
		}

		@include breakpoint(medium down) {
			background-image: none;
		}
		
		.home-block-title {
			
			margin-bottom: 15px;
			
			h4 {
				color: $primary-yellow;
			}
			
			h5 {
				color: #fff;
			}
			
		}
		
		p {
			color: #fff;
		}
		
		.button {
			margin-top: 15px;
		}
		
	}
	
	img {
		@include breakpoint(large up) {
			@include vertical-center;
		}
		@include breakpoint(medium down) {
			display: block;
			margin: 0 auto;
		}
	}
	
}