body.single, body.page {

	#primary-content {
		background: #fff;
		margin: 0;
		padding: 0;
		position: relative;
		&:before {
			background: #f3f3f3;
			content: '';
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			width: 33.33333%;
			z-index: 0;
		}
		&:after {
			background: url(../img/secondary-column-interior-bg.png) no-repeat 400px 50%;
			content: '';
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			width: 40%;
			z-index: 0;
		}
		@include breakpoint(small down) {
			&:before, &:after {
				display: none;
			}
		}
	}

	#column-primary {

		background: #fff;
		padding: 50px 0 50px 130px;

		h1 {
			color: #5e6367;
			font-size: rem-calc(32.35px);
			line-height: 1;
			margin: 0 0 10px 0;
		}

		h2 {
			color: $secondary-yellow;
			font-size: rem-calc(18px);
			text-transform: uppercase;
		}

		h3 {
			color: #000;
			font-size: rem-calc(24px);
			line-height: 1;
			padding: 10px 0 5px 0;
		}

		h4 {
			color: #000;
			font-size: rem-calc(18px);
			text-transform: uppercase;
		}

		h5 {
			color: $secondary-yellow;
			font-size: rem-calc(18px);
		}

		h6 {
			color: #000;
			font-size: rem-calc(18px);
		}

		p {
			font-size: rem-calc(15px);
		}

		a {
			color: $secondary-yellow;
			&:hover {
				text-decoration: underline;
			}
		}

		ul, ol {
			counter-reset: ul-counter;
			font-size: rem-calc(15px);
			margin: 0 0 10px 0;
			li {
				display: block;
				line-height: 1.5;
				padding: 0 0 0 20px;
				position: relative;
				&:before {
					color: $secondary-yellow;
					counter-increment: ul-counter;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
				}
			}
		}

		ul li:before {
			content: counter(ul-counter, disc);
		}

		ol li:before {
			content: counter(ul-counter) ".";
			font-family: $font-prox-reg-bl;
		}

		.gform_wrapper {
			li {
				padding: 0;
				&:before {
					display: none;
				}
			}
		}

		blockquote {
			background: #f2f2f2;
			border-left: solid 4px $secondary-yellow;
			color: #5e6367;
			font-family: $font-prox-reg-lt;
			font-size: rem-calc(24px);
			line-height: 1.3;
			padding: 30px 45px;
		}

		@include breakpoint(medium down) {
			padding: 50px;
		}

	}

	#column-secondary {
		background: #f3f3f3;
		padding: 15px 0 70px 0;
		position: relative;
		@include breakpoint(small down) {
			display: none;
		}
	}

}

.consultation {
	
	background: #e5e9eb;
	text-align: center;
	padding: 60px;

	h4 {
		margin-bottom: 25px;
		text-transform: uppercase;
	}

	.button {
		font-size: rem-calc(20px);
	}

}

.divider {
	height: 60px;
}