#plans-table {
	width: 100%;
	margin: 60px 0;

	tbody {
		border: none;
	}

	tfoot {
		.plan-features td {
			color: #000;
			font-weight: normal;
		}
	}
}

.plans-value {
	
	.bv {
		background: $primary-yellow;
		font-family: $font-prox-reg-bl;
		text-align: center;
		text-transform: uppercase;
	}

}

.plans-title {
	
	color: $primary-yellow;
	font-family: $font-prox-reg-bl;
	text-align: center;
	text-transform: uppercase;
	
	#plans-table-alt & {
		background: #545b5c;
		padding: 15px 0;
	}

	td {
		background: #545b5c;
		border-right: solid 1px #4c5253;
		padding: 20px 0;
		&.bv {
			background: #343b43;
		}
		&:first-child {
			background: #fff;
		}
	}

	img {
		display: block;
		height: auto;
		margin: 10px auto;
		width: 60%;
	}

	span {
		display: block;
		line-height: 1;
	}

}

.plans-price {

	text-align: center;

	span {
		display: block;
		font-family: $font-prox-reg-bl;
	}
	
	#plans-table-alt & {
		background: #e6e5e5;
		padding: 15px 0;
	}

	td {
		
		background: #e6e5e5;
		border-right: solid 1px #cfcece;
		padding: 15px 0;

		&:first-child {
			background: #fff;
			padding: 0;
			vertical-align: bottom;
			span {
				background: #e6e5e5;
				color: #9d9ea2;
				font-size: rem-calc(25px);
				padding: 30px 0;
				text-transform: uppercase;
			}
		}

		&.bv {
		
			background: $primary-yellow;

			.plan-price, .plan-price-desc {
				color: #000;
			}

		}

		.button {
			display: inline-block;
			font-size: rem-calc(18px);
			padding: 20px 15px;
			@include breakpoint(medium down) {
				font-size: rem-calc(13px);
				margin-bottom: 5px;
			}
		}		

	}

	span {
		display: block;
		line-height: 1;
	}

	.plan-price {
		color: #343b43;
		font-family: $font-prox-reg-bl;
		font-size: rem-calc(55px);
	}

	.plan-price-divider {
		color: $secondary-yellow;
		font-size: rem-calc(25px);
	}

	.plan-price-desc {
		color: #343b43;
		font-size: rem-calc(18px);
		line-height: 1;
		text-transform: uppercase;
		margin: 10px 0 15px 0;
	}

}

.plan-features {
	
	td {
		color: $secondary-yellow;
		position: relative;
		text-align: center;
		span {
			background: #fff;
			bottom: 100%;
			color: #000;
			display: none;
			padding: 15px;
			position: absolute;
			width: 115%;
			-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
			box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
			@include horizontal-center;
			&:after {
				background: url(../img/tool-tip-bg.png) no-repeat top center;
				bottom: -11px;
				content: '';
				display: block;
				height: 11px;
				position: absolute;
				width: 100%;
			}
			@include breakpoint(medium down) {
				font-size: rem-calc(12px);
				width: 100%;
			}
		}
		&.has-desc {
			cursor: pointer;
		}
		&:hover {
			span {
				display: block;
			}
		}
	}

	&:nth-child(even) {
		
		background: #f0efee;

		td {
			border-right: solid 1px #d8d7d6;
		}

		.bv {
			background: #fff;
		}

	}
	
	&:nth-child(odd) {
		
		background: #d8d7d6;
		
		td {
			border-right: solid 1px #c3c1c0;
		}
		
		.bv {
			background: #e6e5e5;
		}

	}

}

.plan-equipment {
	
	td {
		background: #4f5556;
		color: $primary-yellow;
		font-family: $font-prox-reg-bl;
		padding: 10px 0;
		text-align: center;
		text-transform: uppercase;
		a {
			color: $primary-yellow;
		}
		&.bv {
			background: $primary-yellow;
			color: #000;
			a {
				color: #000;
			}
		}
	}

}

.additional-package-cta {
	
	text-align: center;
	margin-bottom: 60px;
	width: 100%;

	.column {
		display: table;
	}

	.additional-package-cta-block  {
		background-color: #e6e4e5;
		display: table-cell;
		width: 25%;
		vertical-align: middle;
	}

	.additional-package-cta-title {
		color: #a0a1a5;
		font-family: $font-prox-reg-bl;
		height: 100%;
		text-transform: uppercase;
		span {
			font-size: rem-calc(25px);
			line-height: 1;
		}
	}

	.additional-package-cta-icon {
		background: #535b5d;
		color: $primary-yellow;
		font-family: $font-prox-reg-bl;
		span {
			display: inline-block;
			line-height: 1;
			text-transform: uppercase;
			vertical-align: middle;
		}
		img {
			display: inline-block;
			margin-right: 10px;
		}
	}

	.additional-package-cta-price {
		color: #333a42;
		font-family: $font-prox-reg-bl;
		text-transform: uppercase;
		p {
			line-height: 1;
		}
		span {
			display: block;
			font-size: rem-calc(40px);
			line-height: 0.8;
			margin: 15px 0 5px 0;
		}
	}

	.additional-package-cta-btns {
		.button {
			padding: 25px 15px;
		}
	}
}

#plans-table-alt {
	.plan {
		margin-bottom: 30px;
		&.bv {
			.bv-title {
				background: $primary-yellow;
				display: block;
				font-family: $font-prox-reg-bl;
				padding: 10px;
				text-align: center;
				text-transform: uppercase;
			}
			.plans-price {
				background: $primary-yellow;
				.plan-price, .plan-price-desc {
					color: #000;
				}
			}
		}
	}
}