body.single-package {

	.page-header {
		
		background: #545b5c;
		
		.row {
			.page-header-block-content {

				.page-header-primary-title {
					color: $primary-yellow;
				}

				.page-header-secondary-title {
					color: #fff;
				}

				p {
					color: #fff;
				}

			}
		}

		.page-header-image {
			
			img {
				margin: 0 auto;
				padding: 15px;
				width: 60%;
			}

		}
	}

}

#plan-features {	
	
	padding: 60px;
	
	.block-title {
		text-align: center;
	}

	li {
		display: block;
		font-size: rem-calc(18px);
		&:before {
			content: '•';
			color: $secondary-yellow;
			display: inline-block;
			font-size: rem-calc(25px);
			line-height: 0rem;
			margin-right: 5px;
		}
	}

}

#plan-price {
	
	padding: 60px 0;
	text-align: center;

	.price {
		margin-bottom: 60px;
		span {
			color: #5e6367;
			display: block;
			font-family: $font-prox-reg-bl;
			font-size: rem-calc(32px);
		}
	}

}

#plan-advantages {
	
	background: #e5e9eb;
	padding: 60px 0;

	.columns {
		
		text-align: center;
		
		h5 {
			color: #5e6367;
			margin: 0;
			padding: 10px 0;
		}

	}

}