/*==========================================================================
   Shop Page styles
  ========================================================================== */

.package-cost {
	display: none;
	&.active {
		display: inline-block;
	}
}

#gform_wrapper_4 {
	
	.gform_hidden {
		display: none;
	}

	.package-accordion {
		
		.gfield_label, .gfield_description {
			display: none !important;
		}
	}

	.package-description {
		display: block;
		margin: 10px 0;
	}
	
	label {
		width: 90%;
	}

	ul.accordion {
		border: none;
		& > li {
			&.accordion-title {
				padding: 0;
				&:before {
					content: '';
				}
				& > a {
					color: #231f20;
					font-family: $font-prox-reg-bl;
					font-size: rem-calc(15px);
					padding-left: 0;
					&:hover, &:focus {
						background-color: transparent;
						color: $secondary-yellow;
					}
					&:before {
						background-image: url("../img/form_toggle_closed.png");
						background-repeat: no-repeat;
						background-position: center center;
						content: '';
						display: inline-block;
						height: 20px;
						left: 0;
						width: 17px;
						top: 48%;
					}
				}
				&:hover, &:focus {
					background-color: transparent;
				}
				span {
					margin-left: rem-calc(32px);
				}
				&.is-active {
					& > a {
						&:before {
							background-image: url("../img/form_toggle_open.png");
							background-repeat: no-repeat;
							background-position: center center;
							content: '';
							display: inline-block;
							height: 20px;
							left: 0;
							width: 17px;
							top: 48%;
						}
					}
				}
			} // .accordion-title
			.accordion-content {
				padding-top: 0;
				span {
					&.package-description {
						color: #000;
						font-family: $font-prox-reg;
						font-size: rem-calc(15px);
						margin-left: 0;
					}
				}
			} // .accordion-content
			
			ul.gfield_radio {
				li {
					label {
						font-size: rem-calc(15px);
					}
				}
			}
		}
	} // .accordion
	
} // .gform_wrapper

.remodal {
	
	text-align: left;
} // .remodal

/* Styles for "Fake" form */

.package-equipment-option {
	margin-bottom: 15px;
}

.equipment-qty {
	display: inline-block;
	width: 38px;
}