.contact-details {
	
	list-style: none;
	margin: 0 0 15px 0;
	
	span {
		color: #5e6367;
		font-family: $font-prox-reg-bl;
	}

}

#support-docs {
	
	padding: 30px 0;

	.block-title {
		padding-bottom: 15px;
	}

	img {
		margin-bottom: 15px;
		min-height: 150px;
	}

	h5 {
		color: #5e6367;
	}
	
	a:not(.button) {
		color: #000;
		display: block;
		&:hover {
			color: $secondary-yellow;
		}
	}

	.button {
		margin-top: 30px;
	}

}