.responsive-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;		
	}
}

#videos {
	
	padding: 30px;

	.block-title {
		text-align: center;
	}

	.video {
		
		margin: 15px 0;

		h5 {
			color: #5e6367;
		}

		@include breakpoint(medium down) {
			
			h5 {
				display: block;
				margin-top: 15px;
			}

		}		

	}

}