#breadcrumbs {

	background: #545b5d;
	border-top: solid 7px #000;
	max-height: 144px;
	overflow: hidden;
	padding: 45px 0;
	
	@include breakpoint(medium down) {
		max-height: none;
	}

	.row {

		padding-left: 240px;
		position: relative;
		z-index: 1;

		@include breakpoint(medium down) {
			padding-left: 120px;
		}

		&:before {
			background: url(../img/default-breadcrumbs-bg.svg) no-repeat center left;
			content: '';
			height: 342px;
			left: -75px;
			margin-top: -171px;
			position: absolute;
			top: 50%;
			width: 426px;
			z-index: -1;
			@include breakpoint(medium down) {
				left: -180px;
			}
		}

		body.parent-company &, body.single & {
			&:before {
				background: url(../img/company-header-bg.svg) no-repeat center left;
				background-size: auto 80%;
				left: -125px;
			}
		}

		body.parent-home-security & {
			&:before {
				background: url(../img/home-security-header-bg.svg) no-repeat center left;
			}
		}

		body.parent-business-security & {
			&:before {
				background: url(../img/business-security-header-bg.svg) no-repeat center left;
			}
		}

	}

	h3 {
		color: #fff;
		line-height: 1;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	a {
		color: #fff;
	}

	p {
		font-size: rem-calc(14px);
		list-style: none;
		margin: 0;
		@include breakpoint(medium down) {
			font-size: rem-calc(12px);
		}
		a, span {
			color: #fff;
			display: inline-block;
		}
		a:hover {
			color: $primary-yellow;
		}
	}

}