footer {
	@include breakpoint(small down) {
		margin-bottom: 0 !important;
	}
}
#footer-nav {
	background: #535b5d;
	border-bottom: solid 10px #fff;
	text-align: center;
	a {
		color: #fff;
		display: inline-block;
		font-family: $font-prox-reg-bl;
		font-size: rem-calc(15px);
		padding: 35px;
		&:hover {
			color: $primary-yellow;
			text-decoration: none;
		}
	}
	@include breakpoint(medium down) {
		a {
			padding: 35px 4%;
		}
	}
	@include breakpoint(small down) {
		padding-bottom: 15px;
		a {
			padding: 15px 4% 0 4%;
		}
	}
}

#footer-contact {
	background: #000;
	padding: 38px 0;
	position: relative;
	&:before {
		background: url(../img/footer-icon.png) no-repeat top left;
		bottom: 0;
		content: '';
		height: 152px;
		left: 50%;
		margin-left: -60.5px;
		position: absolute;
		width: 121px;
	}
	h4 {
		color: $primary-yellow;
		font-size: rem-calc(26.17px);
		margin-top: 10px;
		text-align: center;
		br {
			display: none;
		}
	}
	address, p {
		color: $primary-yellow;
		font-size: rem-calc(15px);
		font-style: normal;
		margin: 0;
	}
	span {
		color: $primary-yellow;
	}
	a {
		color: $primary-yellow;
		&:hover {
			color: $secondary-yellow;
		}
	}
	.social-links {
		a {
			font-size: rem-calc(20px);
			line-height: 0;
			&:hover {
				color: $secondary-yellow;
				text-decoration: none;
			}
		}
		@include breakpoint(medium only) {
			position: absolute;
			right: 20px;
			top: 0;
			width: auto;
			@include vertical-center;
		}
	}
	@include breakpoint(medium down) {
		padding: 20px 0;
		h4 br {
			display: block;
		}
		address, p {
			text-align: center;
		}
	}
	@include breakpoint(small down) {
		&:before {
			display: none;
		}
		h4 {
			font-size: rem-calc(22px);
			margin: 0;
			padding: 0;
			&:after {
				background: url(../img/footer-icon.png) no-repeat top left;
				background-size: 100% auto;
				content: '';
				display: block;
				height: 108px;
				margin: 10px auto;
				width: 86px;
			}
		}
		.columns {
			padding: 0;
		}
		.social-links {
			position: static;
			br {
				display: none;
			}
		}
	}
}

#footer-copyright {
	background: #fff;
	padding: 25px 0;
	text-align: center;
	p {
		font-size: rem-calc(15px);
		margin: 0;
	}
	span {
		color: $primary-yellow;
	}
	a {
		color: #000;
		&:hover {
			color: $secondary-yellow;
		}
	}
}

#footer-contact-form-container {
	background: #5e6367;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	padding: 65px 0;
	width: 100%;
	z-index: 0;
	@include breakpoint(medium down) {
		background: url(../img/acd-van.png) no-repeat right center #5e6367;
		background-size: 60% auto;
		padding: 30px 0;
	}
	@include breakpoint(small down) {
		background: url(../img/acd-van.png) no-repeat bottom center #5e6367;
		background-size: 100% auto;
		padding: 65px 0 350px 0;
		position: static;
	}
	h4 {
		color: $primary-yellow;
		font-size: rem-calc(18px);
		text-align: center;
		text-transform: uppercase;
	}
	h5 {
		color: #fff;
		font-size: rem-calc(24px);
		line-height: 1;
		text-align: center;
	}
	.row {
		position: relative;
		&:before {
			background: url(../img/footer-contact-alt-bg.gif) no-repeat left top #231f20;
			content: '';
			display: block;
			height: 150%;
			right: -770px;
			position: absolute;
			top: -15%;
			width: 100%;
			z-index: 0;
			@include breakpoint(medium down) {
				display: none;
			}
		}
	}
	#footer-contact-form {

		z-index: 0;

		legend {
			font-family: $font-prox-reg-bl;
		}

		legend, label {
			color: #fff;
		}

		.no-label {
			label {
				display: none;
			}
		}

		p {
			padding: 0;
			margin: 0;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		select {
			width: 100%;
		}

		.gfield {
			margin-bottom: 10px;
		}

		textarea {
		 height: 0;
		 width: 100%;
		}

/*
		@include breakpoint(medium up) {
			@include vertical-center;
			width: 30%;
		}

		@include breakpoint(medium down) {
			width: 40%;
		}

		@include breakpoint(small down) {
			margin: 30px auto 0 auto;
			width: 90%;
		}
*/

	}
	#footer-contact-cta {
		background: url(../img/acd-van.png) no-repeat center;
		min-height: 569px;
		position: relative;
		z-index: 0;
		@include breakpoint(medium down) {
			min-height: none;
			background: none;
			h4 {
				margin-top: 45px;
			}
		}
		@include breakpoint(small down) {
			display: none;
		}
	}
}