body {
	@include breakpoint(large up) {
		padding-top: 99px;
	}
}

header {
	background: #535b5d;
	position: relative;
	z-index: 10000;
	@include breakpoint(large up) {
		position: fixed;
		top: 0;
		width: 100%;
		body.logged-in & {
			top: 32px;
		}
	}
	.top-bar {
		
		background: none;
		height: 99px;
		max-width: rem-calc(973px);
		padding: 0;
		position: relative;
		z-index: 10;
		
		@include breakpoint(medium down) {
			
			height: auto;
			overflow: hidden;
			max-width: none;
			
			.top-bar-right {
				float: right;
			}
			
		}
		
		@include breakpoint(small down) {
			
			.top-bar-right {
				width: 41.6666%;
			}
			
		}
		
		@include breakpoint(large up) {
			
			.top-bar-left {
				width: calc(100% - 140px);
				.primary-menu {
					width: calc(100% - 239px);
				}
			}
			
		}
		
		&:before {
			background: url(../img/header-bg.png) no-repeat top left;
			content: '';
			height: 99px;
			left: -206px;
			position: absolute;
			top: 0;
			width: 299px;
			z-index: -1;
			@include breakpoint(medium down) {
				left: -179px;
			}
			@include breakpoint(small down) {
				left: -191px;
			}
		}

		&:after {
			background: url(../img/header-bg-alt.gif) no-repeat top left;
			content: '';
			height: 41px;
			left: 585px;
			position: absolute;
			top: 0;
			width: 180px;
			z-index: -1;
			@include breakpoint(medium down) {
				left: 50%;
				margin-left: -10%;
			}
		}

		.primary-menu {

			display: table;
			float: left;
			height: 99px;
			margin-left: 5px;
			text-align: right;
			
			.user-links {
				
				color: #fff;
				margin: 30px 0 5px 0;
				padding-right: rem-calc(15px);
				
				p {
					line-height: 1;
					margin: 0;
					padding: 0;
				}
				
				a {
					color: #fff;
					display: inline-block;
					&:hover {
						color: $secondary-yellow;
						text-decoration: none;
					}
				}
				
			}				

			ul {
				background: none;
				font-family: $font-prox-reg-bl;
				font-size: rem-calc(15px);
				list-style: none;
				li {
					display: inline-block;
				}
			}

			.dropdown.menu  {
				
				.submenu.first-sub {
					background: #f2f2f2;
					border-top: solid 8px #bc8b23;
					border-bottom: none;
					border-left: none;
					border-right: none;
					padding: 10px 0;
					top: 127%;
				}
				
				.is-dropdown-submenu-parent.is-down-arrow a {
					padding-right: 0.7rem;
					&:hover {
						&::after {
							color: $secondary-yellow;
						}
					}
				}

				.is-dropdown-submenu-parent.is-down-arrow > a::after {
					border: none;
					content: '+';
					color: $primary-yellow;
					display: inline-block;
					float: none;
					margin: 0;
					padding: 0 5px;
					position: static;
					right: 0;
					top: 0;
				}

			}
			
			@include breakpoint(medium down) {
				display: none;
			}			

		}		

		.level-0 {
			& > a {
				color: #fff;
				padding: 0.7rem;
			}
			&:hover {
				& > a {
					color: $secondary-yellow;
					text-decoration: none;				
				}
			}
		}

		.level-1 {
			
			text-align: left;

			& > a {
				color: #000;
			}

			&:hover {
				& > a {
					color: #545b5c;
					text-decoration: none;
				}
			}

		}

		.sub-menu-container {
			background: #f2f2f2;
			border-top: solid 8px $secondary-yellow;
			display: none;
			left: 0;
			margin: 0;
			padding: 40px;
			position: absolute;
			top: 99px;
			width: 100%;
			& > li {
				display: table;
				width: 100%;
			}
			.sub-menu-panel {
				display: table-cell;
				vertical-align: middle;
				h3 {
					font-size: rem-calc(32.35px);
				}
				h4 {
					color: $secondary-yellow;
					font-size: rem-calc(18px);
					text-transform: uppercase;
				}
				img {
					display: block;
					margin: 0 auto;
				}
				a:not(.button) {
					color: #000;
					&:hover {
						color: $secondary-yellow;
						text-decoration: none;
					}
				}
			}
			.sub-menu {
				margin: 0 auto;
				width: 79.591836734694%;
				ul {
					background: none;
					border-top: solid 2px #cccbcc;
					margin: 0 0 25px 0;
					padding: 0;
					li {
						border-bottom: solid 2px #cccbcc;
						display: block;
						padding: rem-calc(10px) 0;
					}
				}
				address, p {
					font-family: $font-prox-reg;
					font-size: rem-calc(15px);
					font-style: normal;
					margin-bottom: 25px;
				}
			}
		}

		#quick-contact-form {
			padding: 0 rem-calc(65px);
			label {
				display: none;
			}
			input[type="text"], input[type="email"], input[type="tel"], textarea {
				border: none;
				margin-bottom: 5px;
				width: 100%;
			}
			textarea {
				height: 0;
				min-height: 75px;
				resize: none;
			}
			input[type="submit"] {
				@extend .button;
				margin-top: 5px;
				text-transform: uppercase;
				width: auto;
				&:hover {
					color: #fff;
				}
			}
			ul.gform_fields {
				margin: 0;
				padding: 0;
			}
			.validation_error {
				font-weight: normal;
			}
			.validation_message {
				font-weight: normal;
				padding: 0 5px;
			}
		}

	}

	#ac-logo {
		background: url(../img/ac-logo.svg) no-repeat top left;
		float: left;
		height: 72px;
		margin-right: 10px;
		position: relative;
		top: 7px;
		width: 214px;
		a {
			display: block;
			text-indent: -99999px;
		}
		@include breakpoint(medium down) {
			margin-left: 35px;
		}
		@include breakpoint(small down) {
			background-size: 100% auto;
			margin: 0 0 0 15px;
			max-width: 214px;
			width: 50%;
			@include vertical-center;
		}
	}

	#raq-btn, #call-btn {
		background: $primary-yellow;
		color: #000;
		display: inline-block;
		font-family: $font-prox-reg-bl;
		font-size: rem-calc(16px);
		line-height: 1.2;
		margin-top: 20px;
		padding: 20px 30px;
		text-align: center;
		text-transform: uppercase;
		.raq-phone-number {
			font-size: rem-calc(18px);
		}
		&:hover {
			background: #000;
			color: $primary-yellow;
			text-decoration: none;
		}
		@include breakpoint(medium down) {
			float: left;
			margin: 0;
			padding: 30px 40px;
		}
		@include breakpoint(small down) {
			font-size: 43px;
			padding: 0;
			height: 100px;
			width: 50%;
			display: table;
			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	#off-canvas-trigger {
		display: none;
		background: #000;
		color: $primary-yellow;
		float: left;
		font-family: $font-prox-reg-bl;
		font-size: 43px;
		padding: 18px 30px;
		text-align: center;
		text-transform: uppercase;
		span {
			vertical-align: middle;
		}
		.icon-menu-close-icon {
			display: none;
			margin: 10.5px 0;
		}
		&[aria-expanded=true] {
			.icon-menu-icon {
				display: none;
			}
 			.icon-menu-close-icon {
 				display: block;
 				@include breakpoint(small down) {
 					display: table-cell;
 				}
 			}
 		}
		@include breakpoint(medium down) {
			display: inline-block;
		}
		@include breakpoint(small down) {
			height: 100px;
			padding: 0;
			width: 50%;
			display: table;
			span {
				display: table-cell;
			}
		}
	}

}