.base-styles {

	h1 {
		color: #5e6367;
		font-size: rem-calc(32.35px);
		line-height: 1;
		margin: 0 0 10px 0;
	}

	h2 {
		color: $secondary-yellow;
		font-size: rem-calc(18px);
		text-transform: uppercase;
	}

	h3 {
		color: #5e6367;
		font-size: 2rem;
		line-height: 1.2;
	}

	h4 {
		color: #000;
		font-size: rem-calc(18px);
		text-transform: uppercase;
	}

	h5 {
		color: $secondary-yellow;
		font-size: rem-calc(18px);
	}

	h6 {
		color: #000;
		font-size: rem-calc(18px);
	}

	p {
		font-size: rem-calc(15px);
	}

	a {
		color: $secondary-yellow;
		&:hover {
			text-decoration: underline;
		}
	}

	ul:not(.accordion), ol:not(.accordion) {
		counter-reset: ul-counter;
		font-size: rem-calc(15px);
		margin: 0 0 10px 0;
		li {
			display: block;
			line-height: 1.5;
			padding: 0 0 0 20px;
			position: relative;
			&:before {
				color: $secondary-yellow;
				counter-increment: ul-counter;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}

	ul:not(.accordion) li:before {
		content: counter(ul-counter, disc);
	}

	ol:not(.accordion) li:before {
		content: counter(ul-counter) ".";
		font-family: $font-prox-reg-bl;
	}

	ul.gform_fields {
		li {
			padding: 0;
			&:before {
				display: none;
			}
		}
	}

	blockquote {
		background: #f2f2f2;
		border-left: solid 4px $secondary-yellow;
		color: #5e6367;
		font-family: $font-prox-reg-lt;
		font-size: rem-calc(24px);
		line-height: 1.3;
		padding: 30px 45px;
	}

	.accordion-title {
		font-family: $font-prox-reg-bl;
		font-size: rem-calc(20px);
	}

}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}