.block-page-intro {
	
	padding: 60px 30px 60px 30px;
	text-align: center;

	@include breakpoint(medium down) {
		padding: 30px;
	}

	p {
		margin-top: 15px;
		@include breakpoint(medium up) {
			margin-left: auto;
			margin-right: auto;
			max-width: 560px;
		}
	}

	.block-page-intro-primary-title {
		color: $secondary-yellow;
		font-size: rem-calc(18px);
		line-height: 1;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.block-page-intro-secondary-title {
		color: #5e6367;
		font-size: rem-calc(32px);
		line-height: 1.2;
		margin: 0;
	}	

}

.block-title {
	
	padding-bottom: 30px;

	.block-primary-title {
		color: $secondary-yellow;
		font-size: rem-calc(18px);
		line-height: 1;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.block-secondary-title {
		color: #5e6367;
		font-size: rem-calc(32px);
		line-height: 1.2;
		margin: 0;		
	}

}

.content-block-container {
	margin-bottom: 35px;
	position: relative;
	.v-center {
		 @include breakpoint(large up) {
		 	width: 66.66667%;
		 }
	}
}

.v-center {

	.block-title {
		padding-bottom: 10px;
	}

	@include breakpoint(large up) {

		@include vertical-center;

	}

}

#shop {
	
	background: #e5e9eb;
	padding: 60px 0;
	text-align: center;
	
	@include breakpoint(medium down) {
		padding: 30px 0;
	}
	
	.home-block-title {
		margin-bottom: 15px;
	}
	
	img {
		display: block;
		margin: 30px auto;
	}

	body.parent-tips & {
		border-bottom: solid 15px #fff;
	}
	
}

#full-service {
	
	background: #e5e9eb;
	border-bottom: solid 15px #fff;
	padding: 60px 0;
	text-align: center;

	.consultation-cta {
		color: #5e6367;
		margin-top: 50px;
		span {
			color: #000;
			font-size: rem-calc(50px);
		}
	}

}

#additional-advice {
	
	background: #e5e9eb;
	border-bottom: solid 15px #fff;
	padding: 60px 0;
	text-align: center;

}

.phone-large {
	color: #000;
	font-family: $font-prox-reg-bl;
	font-size: 3.125rem;
	&:hover {
		color: $secondary-yellow;
	}
}

#product-highlights {
	
	background: #e5e9eb;
	padding: 60px 0;
	text-align: center;

	h5 {
		color: #5e6367;
		font-size: 1.25rem;
	}

	.block-title {
		padding: 5px 0;
	}

}

#product-specs {
	padding: 30px 0 60px 0;
}

.cta-blocks {
	a:not(.button) {
		color: $secondary-yellow;
		&:hover {
			text-decoration: underline;
		}
	}
}