#blog-feed {
	
	background: #f2f2f2;
	overflow: hidden;
	padding: 70px 0;
	position: relative;

	&:before {
		background: url(../img/blog-feed-bg-logo.gif) no-repeat top left;
		content: '';
		height: 840px;
		left: -100px;
		position: absolute;
		top: 185px;
		width: 698px;
		@include breakpoint(small down) {
			display: none;
		}
	}

	&:after {
		background: url(../img/blog-feed-bg-circuits.gif) no-repeat top left;
		content: '';
		height: 1075px;
		right: 0;
		position: absolute;
		top: 650px;
		width: 844px;
		z-index: 0;
		@include breakpoint(small down) {
			left: 50%;
			margin-left: -422px;
			top: -200px;
			right: auto;
		}		
	}

	.row {
		position: relative;
		z-index: 1;
	}	

	#blog-posts {
		
		margin-top: 60px;
		overflow: hidden;
		position: relative;
		z-index: 1;

		@include breakpoint(small down) {
			margin-top: 0;
		}		

		&:before {
			background: #ced0d0;
			content: '';
			height: 7800px;
			left: 50%;
			margin-left: -1px;
			position: absolute;
			top: 0;
			width: 1px;
		}

		article {
			background: #fff;
			margin: 0 5.1020% 15px 5.1020%;
			position: relative;
			img {
				border: solid 10px #fff;
				height: auto;
				width: 100%;
			}
			.post-excerpt {
				padding: 3% 7.9545% 7.9545% 7.9545%;
				h4 {
					font-size: rem-calc(20px);
					line-height: 1.2;
					margin: 0;
					a {
						color: #000;
						&:hover {
							color: $secondary-yellow;
						}
					}
				}
				.post-title-sep {
					color: $primary-yellow;
					font-family: $font-prox-reg-bl;
					font-size: rem-calc(15px);
					line-height: 0;
				}
				p {
					font-size: rem-calc(15px);
				}	
			}
			.post-meta {
				color: #5e6367;
				font-size: rem-calc(10px);
				list-style: none;
				margin: 0 0 30px 0;
				li {
					display: inline-block;
					margin-right: 10px;
					span {
						color: $secondary-yellow;
						font-size: rem-calc(18px);
						vertical-align: sub;
					}
				}
			}
		}

		.post-column-first {
			article {
				&:before {
					background: $secondary-yellow;
					border: solid 2px #fff;
					border-radius: 50%;
					content: '';
					height: 17px;
					position: absolute;
					right: -10.204%;
					top: 35px;
					width: 17px;
				}
				&:after {
					background: url(../img/post-arrow-bg.jpg) no-repeat top left;
					content: '';
					height: 24px;
					position: absolute;
					right: -12px;
					top: 32px;
					width: 12px;
				}				
			}
			@include breakpoint(medium down) {
				article {
					margin: 0 auto;
					width: 60%;
					&:before, &:after {
						display: none;
					}
					&:not(:first-child) {
						display: none;
					}
				}
			}
			@include breakpoint(small down) {
				article {
					width: 90%;
				}
			}
		}

		.post-column-second {
			padding-top: 150px;
			article {
				&:before {
					background: $secondary-yellow;
					border: solid 2px #fff;
					border-radius: 50%;
					content: '';
					height: 17px;
					position: absolute;
					left: -10.204%;
					top: 35px;
					width: 17px;
				}
				&:after {
					background: url(../img/post-arrow-bg-left.jpg) no-repeat top left;
					content: '';
					height: 24px;
					position: absolute;
					left: -12px;
					top: 32px;
					width: 12px;
				}				
			}
			@include breakpoint(medium down) {
				display: none;
			}
		}		

	}

	#blog-whats-new {
		padding-top: 70px;
		text-align: center;
		@include breakpoint(medium down) {
			padding-top: 30px;
			position: relative;
			z-index: 1;
		}
	}

}