#faqs-block {
	
	background: #e5e9eb;
	border-bottom: solid 15px #fff;
	padding: 60px 0;

	.button {
		margin-top: 30px;
	}

	.faq-list {

		background: none;
		
		.accordion-item {

			background: none;
			
			&:hover, &.is-active {
				.accordion-title {
					color: $secondary-yellow;
				}
			}

		}

		.accordion-title {
			
			background: none;
			border-bottom: solid 1px #e5e9eb;
			color: #000;
			font-family: $font-prox-reg-bl;
			font-size: rem-calc(18px);			
			padding: 15px;
			text-decoration: none;

		}

		.accordion-content {
			background: #fff;
			p {
				margin: 0;
			}
		}

	}

}