#hero {

	background: url(../img/hero-bg.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	
	.row {
		padding: 160px 0;		
		position: relative;
		@include breakpoint(medium down) {
			padding: 30px;
		}
	}

	.hero-text {

		max-width: 765px;
		padding-left: 170px;
		position: relative;
		z-index: 1;

		@include breakpoint(medium down) {
			max-width: none;
			padding: 0;
			text-align: center;
		}

		.hero-text-primary-text {
			color: $secondary-yellow;
			font-size: rem-calc(48px);
			line-height: 1;
			text-transform: uppercase;
			@include breakpoint(small down) {
				font-size: rem-calc(32px);
			}
		}

		.hero-text-secondary-text {
			color: #545b5c;
			font-size: rem-calc(32.31px);
			@include breakpoint(small down) {
				font-size: rem-calc(18px);
			}
		}
		
		.button {
			margin-top: 35px;
			padding: 0 40px 0 0;
			span {
				border-right: solid 1px #d19f1d;
				display: inline-block;
				font-size: rem-calc(40px);
				height: 59px;
				margin: 0 25px 0 0;
				padding: 0;
				width: 59px;
				vertical-align: middle;
				&:before {
					display: block;
					margin-top: 10px;
				}
			}
		}

	}
	
	.hero-graphic {
		background: url(../img/hero-hand-bg.png) no-repeat top left;
		bottom: -50px;
		height: 638px;
		position: absolute;
		right: 130px;		
		width: 589px;
		z-index: 0;
		@include breakpoint(medium down) {
			display: none;
		}
	}

}