#off-canvas-nav {
	background: #fff;
	height: 100%;

	ul {
		font-family: $font-prox-reg-bl;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		li {
			a {
				border-bottom: solid 2px #e9e9e9;
				color: #000;
				display: block;
				font-size: rem-calc(15px);
				outline: none;
				padding: 15px 45px;
				&:after {
					color: $secondary-yellow;
					content: '+';
					display: inline-block;
					margin-left: 3px;
				}
			}
		}
		&.nested {
			background: #000;
			a {
				border-bottom: solid 1px #2c2b2b;
				color: $secondary-yellow;
			}
		}				
	}
}