.page-header {
	
	background: url(../img/equipment-page-header-bg.jpg) no-repeat center;
	background-size: cover;

	@include breakpoint(small down) {
		margin-bottom: 30px;
		padding-bottom: 30px;
	}

	.row {
		
		position: relative;

		.page-header-block-content {
			
			padding: 30px 0;

			@include breakpoint(large up) {
				padding: 0 50px 0 0;
				width: 50%;
				@include vertical-center;
			}

			.page-header-block-title {

				.page-header-primary-title {
					color: $secondary-yellow;
					font-size: rem-calc(18px);
				}

				.page-header-secondary-title {
					color: #5e6367;
					font-size: rem-calc(32px);
					line-height: 1.2;
				}				

			}

		}

	}

}

/* Temp Page Headers */

body.parent-plans {

	.page-header {
		background: url(../img/plans-page-header-bg.jpg) no-repeat center;
		background-size: cover;
	}

}

body.parent-tips {

	.page-header {
		background: url(../img/tips-page-header-bg.jpg) no-repeat center;
		background-size: cover;
	}

}

body.parent-support {

	.page-header {
		background: url(../img/support-page-header-bg.jpg) no-repeat center;
		background-size: cover;
	}

}

body.page-id-224 {

	.page-header {

		background: #545b5c;

		.row {
			.page-header-block-title {

				.page-header-secondary-title {
					color: #fff;
				}				

			}

			p {
				color: #fff;
			}
		}

	}

}

body.page-id-16, body.single-equipment_features, body.page-id-34, body.parent-company {

	.page-header {
		background: #fbfbfb;
	}
	
}

body.page-id-251 {
	
	.page-header {
		background: url(../img/hiw-header-bg.jpg) no-repeat center;
		background-size: cover;
	}

}