.sidebar-block {
	margin-bottom: 50px;
	position: relative;
	z-index: 1;
}

.sidebar-sub-nav {
	padding: 35px;
	@include breakpoint(medium down) {
		padding: 35px 20px;
	}
	h3 {
		margin-bottom: 15px;
		line-height: 1;
	}
	a {
		color: #000;
		display: block;
		font-family: $font-prox-reg-bl;
		font-size: rem-calc(15px);
		padding: 10px 0;
		&:hover {
			color: $secondary-yellow;
		}
		&:after {
			color: $primary-yellow;
			content: '+';
			display: inline-block;
			margin-left: 3px;
		}
	}
	ul {
		border-top: solid 1px #b7b6b7;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			border-bottom: solid 1px #b7b6b7;
			ul {
				border-top: solid 1px #dbdcdd;
				border-left: solid 4px $secondary-yellow;
				li {
					border-bottom: solid 1px #dbdcdd;
					margin-left: 10px;
					a {
						&:after {
							display: none;
						}
					}
					&:last-child {
						border: none;
					}
				}
			}
		}
	}
}

.sidebar-cta {
	background: url(../img/cta-bg.gif) no-repeat top left #545b5c;
	text-align: center;
	padding: 100px 0 55px 0;
	img {
		pointer-events: none;
		margin-bottom: 25px;
	}
	h3 {
		font-size: rem-calc(32.35px);
		line-height: 1;
	}
	h4 {
		font-size: rem-calc(18px);
		margin: 0;
		text-transform: uppercase;
	}
	h3, h4 {
		color: #fff;
		padding: 15px 50px;
	}
}